<div id="home">
  <div data-bind="if:loading">
  <div id="loading" >
    <div>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
      <span class="sr-only">Loading...</span>
      <span class="font">Loading...</span>
    </div>
  </div>
</div>
  <div id="sidebar">
    <div id="streets">
      <div id="streetsTitle"><h1>Street Ranking</h1></div>
      <div id="streetsPlaceHolder" data-bind="if:!streets()">
        <p>A street ranking will show here
          when you select a city or a request
          type from the input</p>
      </div>
      <table class="sidebarContent">
        <thead  data-bind="if:streets">
          <th>Rank</th>
          <th>Street</th>
          <th>%ile</th>
        </thead>
        <tbody data-bind="foreach:streets">
          <tr class="streetRow" data-bind="click:$root.goToStreetPage">
            <td data-bind="text:rank"></td>
            <td data-bind="text:name"></td>
            <td class="pct" data-bind="text:percentile.toFixed(2)"></td>
          </tr>
        </tbody>
      </table>
      <div id="streetsFooter">
        <h1>Export</h1>
      </div>
    </div>
    <div id="issues">
      <div id="issuesTitle"><H1>Issue Details</H1></div>

      <div id="issuesPlaceHolder"
        data-bind="visible:!issues()">
        <p>Details and links to individual issues will show
          here when a cluster center is selected
          from the cluster map.
        </p>
      </div>
      <div id="issuesContent" class="sidebarContent"
          data-bind="foreach:issues">
        <div class="issueRow" \
          data-bind="attr:{id:id_},
          event:{mouseenter:$root.highliteIssue,
            mouseleave:$root.unhighliteIssue}">
          <a target="blank" class="issueLink",
            data-bind="attr:{
              href:'https://seeclickfix.com/issues/'+String(id_)}">
            <div class="issueContent">
              <div class="issueDate">
                <h2 class="issueMonth" data-bind="text:month+' '+year"></h2>
                <!-- <h2 class="issueYear" data-bind="text:year"></h2> -->
              </div>
              <h3 class="issueSummary" data-bind="text:summary"></h3>
              <p class="issueDescription" data-bind="text:description"></p>
            </div>
          </a>
        </div>
      </div>
      <div id="issuesFooter">
        <h1>Export<h1>
      </div>
    </div>
    <div class="collapse">
      <div>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <br>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <br>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <br>
      </div>
    </div>
  </div>
  <div id="main" class="row">
    <div id="topRow">
      <div class="left">
        <div id="streetsToggle" class="icon"
          style="background-image:url('<%= asset_path 'street_icon.png'%>')">
        </div>
      </div>
      <div class="mid">
        <!-- <div id="title"><img id="titleImage" src="/assets/scastrap_image.png"/></div> -->
        <h1 id="title">Clustr</h1>
      </div>
      <div class="right">
        <div id="help" class="helpLink icon"
          style="background-image:url('<%= asset_path 'help_icon.png' %>')"/>
        </div>
      </div>
    </div>
    <div id="midRow">
      <div class="left">
        <div id="issuesToggle" class="icon"
          style="background-image:url('<%= asset_path 'issues_icon.png' %>')"/></div>
      </div>
      <div id="comboboxCol" class="mid">
        <div class="ui-widget">
          <select id="combobox" type="text" data-bind="foreach:requestTypes">
            <option data-bind="text:full_name,value:id_"></option>
          </select>
        </div>
      </div>
      <div class="right">
        <div id="mapToggle" class="icon" >
          <h3 class="mapToggleText" data-bind="if:mapMode()=='clusterMap'">Heat Map</h3>
          <h3 class="mapToggleText" data-bind="if:mapMode()=='heatMap'">Cluster Map</h3>
        </div>
      </div>
    </div>
    <!-- <div id="content" data-bind="css:location"> -->
    <div id="map" data-bind="visible:clusters"></div>
    <div id="noClusters" data-bind="visible:!clusters()">
      <h2 >No active issues were identified for the chosen request type.</h3>
    </div >
    <!-- </div> -->
    <div id="bottomRow">
      <p class="pageLink footerItem aboutLink">about</p>
      <p class="pageLink footerItem helpLink">help</p>
      <p class="pageLink footerItem feedbackLink">feedback</p>
      <p class="footerItem" data-bind="
        visible:lastUpdated,
        text:'|| '+'updated: '+lastUpdated()"></p>
    </div>
  </div>
</div>
<div id="aboutPage" class="page">
  <div class="pageTopRow">
    <div class="left"><div class="back icon"></div></div>
    <div class="mid"><h1 class="pageTitle">About</h1></div>
    <div class="left"></div>
  </div>
  <div class="pageContent">
    <p>
      Clustr is an open source data mining and visualization
      project designed to help local governments determine where
      resources are most needed.
    </p>
    <p>
      The project uses data from the See Click Fix API and features
      a heatmap, a map of clusters, and a street ranking for all
      open and acknowledged issues as of the last update.
    </p>
    <hr/>
    <p>Contibutors:</p>
    <p class="profileLink">
      <a href="http://avisochek.github.io" target="blank">
        Allan Visochek, Lead Developer
      </a>
    </p>
    <p>Tanzim Hassan, Machine Learning Engineer</p>
    <p class="profileLink"><a href="http://www.ziqiangguan.com"
      target="blank">Ziqiang Guan, Problem Solver</a></p>
    <p>Carys Snyder, Designer</p>
  </div>
</div>
<div id="helpPage" class="page">
  <div class="pageTopRow">
    <div class="left"><div class="back icon"></div></div>
    <div class="mid"><h1 class="pageTitle">Help</h1></div>
    <div class="left"></div>
  </div>

  <div class="pageContent">
    <h3>Data and Interface</h3>
    <p>
      Clustr uses a dataset of non-emergency issue
      reports from the See Click Fix API. The data for the application
      is organized by request type, which is the category under which
      issues are reported.
    </p>
    <img class="helpImg" src= "<%= asset_path 'input.png'%>" style="width:250px;float:right;"></img>
    <p>
      To use the application, a request type must be first selected
      from the main combobox. The user may search the category either by
      by city or by request type.
    </p>
    <p>
      The Clustr app features:
    </p>
    <ul>
      <li>A map of clustered issues</li>
      <li>A heatmap of issues</li>
      <li>A street ranking</li>
    </ul>
    <hr />
    <h3>Cluster Map</h3>
    <img class="helpImg"
      style="height:300px;width:300px;"
      src="<%= asset_path 'clusterMap.png' %>"></img>
    <p>
      The cluster map presents groups of issue reports that are close
      together, allowing the user to identify isolated and high volume
      pockets of issues that might not otherwise be obvious.
    </p>
    <p>
      It also allows for a more quantitative approach to
      visualizing the density of issues by region.
    </p>
    <p>
      The cluster map is shown by default after a request
      type is selected from the combobox. Each circle
      represents a cluster, which is a collection of issues
      that are in the same area. The number on each circle
      and the size represent the number of issues in each cluster.
    </p>
    <img class="helpImg" style="height:125px;width:125px;float:right;padding-left:10px" src="<%= asset_path 'cluster.png' %>"></img>
    <img class="helpImg" style="height:125px;width:125px;float:right;" src= "<%= asset_path 'issuesSideBar.png' %>"></img>
    <p>
      Clicking a cluster will display a map of all of the
      issues associated with that cluster. Issues are represented
      with smaller black icons. Clicking a cluster will also fill
      the issues side panel with tiles including the date as well
      as the summary and description (if available) of each issue.
    </p>
    <img class="helpImg" style="height:40px;width:40px;float:right" src="<%= asset_path 'issues_icon.png'%>"></img>
    <p>
      The issues panel can be accessed by clicking the exclamation
      mark icon in the top left. Clicking on an issue icon will
      also open the issues side panel, and will bring the selected
      issue to the top of the page. Each tile on the side panel
      links to a page on the seeclickfix website where more
      details can be found about the selected issue.
    </p>
    <p>
      The clusters for this application are obtained using
      markov clustering as part of the data preprocessing pipeline.
      The clusters are roughly 2000ft. in diameter.
    </p>
    <h3>Heatmap</h3>
    <img class="helpImg" style="height:300px;width:300px;" src= "<%= asset_path 'heatMap.png' %>"></img>
    <p>
      The heatmap is a visualization of issues for a given request type
      where the level of color intensity represents the density of
      issues in a given area. In this case, red represents the highest level
      of density while light blue represents the lowest. The color gradient
      is scaled to the distribution of cluster sizes to eliminate the effect
      of outliers, so the scale of colors on the heatmap represents the
      relative density of issues for the selected request type.
    </p>
    <p>
      To access the heatmap, select a request type from the main input,
      and then select the "Heat Map" button in the upper right hand corner.
    </p>
    <h3>Street Ranking</h3>
    <img class="helpImg" style="width:200px;float:right;" src="<%= asset_path'streetsSidebar.png'%>"></img>
    <p>
      The street ranking offers yet another way of understanding the
      location of active issues. Once a request type is
      selected, the street ranking will show up in the streets panel, which
      can be accessed using the road icon in the upper left hand corner.
    </p>
    <p>
      Clicking a row in the street ranking will open up a page which
      shows the number of active issues in each category for the corresponding
      street.
    </p>
    <p>
      Streets are ranked using a formula that assigns a probability to
      the likelihood that the number of issues present on a given street
      would occur there by chance. The formula takes into account the
      length of a particular street, "l", the number of active issues
      on that street, "k", the total number of active issues for the
      given category, "n", and the collective length of all streets in
      the given city where issues have been reported, "t". The formular
      is given by:
    </p>
      <strong> (t/l)^k*(1-(t/l))^(n-k)*(n!/(k!*(n-k)!)) </strong>
    <p>
      This model allows us to take into account both the density of
      the issues that occur on a particular street, and the confidence
      that a particular street is significant given the number of issues
      reported.
    </p>
    <p> The street ranking can be saved along with additional details
      by clicking the export button at the bottom of the streets panel.
    </p>
    <h3>Exporting</h3>
    <img class="helpImg" style="width:300px;" src="<%= asset_path 'export.png'%>"></img>
    <p>
      It is possible to export data from the app to keep track of it for
      future reference and to gain some additional details. Data
      Is exported in CSV format. Note that exporting is currently not
      supported for mobile platforms.
    </p>
    <p>
      To export details for a given street ranking, first select
      the desired request type from the input, then open the
      streets panel by clicking the road icon in the upper
      right hand corner. Finally, click the export botton at
      the bottom of the streets panel.
    </p>
    <p>
      To export details about the issues for a given cluster,
      first select the desired request type and then click on
      a cluster of interest. Open the issues panel by clicking
      the top left exclamation point icon. Then click "Export"
      at the bottom of the issues panel.
    </p>
    <hr/>
    <h3>Bugs/Issues</h3>
    <p><strong>** Note that there may be compatibility issues for older browsers **</strong></p>
    <p>
      If something's not quite right, be sure to report it in the feedback
      section so that we can fix it in the next version.
    </p>
    <h3>Leave Feedback!</h3>
    <p class="pageLink feedbackLink">Comments? Questions? Ideas? Let us know!</p>
    <div class="back icon">
    </div>
  </div>

</div>
<div id="feedbackPage" class="page">
  <div class="pageTopRow">
    <div class="left"><div class="back icon"></div></div>
    <div class="mid"><h1 class="pageTitle">Feedback</h1></div>
    <div class="left"></div>
  </div>
  <div class="pageContent">
    <form id="feedbackForm">
      <p id="feedbackResponseMessage"></p>
      Name: <input class="feedbackInput" text="" type="text" name="name" placeholder="Name"></input><br/>
      E-mail: <input class="feedbackInput" text="" type="text" name="email" placeholder="E-mail"/><br/>
      <br>
      <textarea id="messageBox" text="" type="text" name="message" placeholder="Comments/Questions/Suggestions"></textarea><br/>
      <br>
      <input type="checkbox" name="contact">It is ok to contact me.</input>
      <br><br>
      <div class="g-recaptcha" data-sitekey="6LfAPR0TAAAAAGofq5IxxpMzPHmqqJBWLhWGU82I"></div><br>
      <input id="feedbackSubmit" text="" type="submit" value="submit"/>
    </form>
  </div>
</div>
<div id="streetPage" class="page">
  <div class="pageTopRow">
    <div class="left"><div class="back icon"></div></div>
    <div class="mid"><h1 class="pageTitle" data-bind="text:chosenStreetName"></h1></div>
    <div class="left"></div>
  </div>
  <div class="pageContent">
    <table id="streetsTable">
      <tbody data-bind="foreach:chosenStreetStats">
        <tr class = "streetsTableRow">
          <td data-bind="text:name" class="streetsPageName"></td>
          <td data-bind="text:count" class="streetsPageCount"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
