<!DOCTYPE html>
<html>
<head>
  <title>ScfApp</title>
    <!-- <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--jquery ui stylesheet -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- load jquery -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- load jquery ui, used for autocomplete textbox -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- load knockout, used for managing streets data -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>

  <!-- load google maps api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEs6NPvRS1jrPZTWGZUkdkFmIbdCPrBEo"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- use markerwithlabel.js to create marker labels with multiple characters -->
  <script src='/assets/markerwithlabel.js'></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="container">

<%= yield %>
  </div>
</body>
</html>
