<!DOCTYPE html>
<html>
<head>
  <title>ScfApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %> -->
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.6/sammy.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEs6NPvRS1jrPZTWGZUkdkFmIbdCPrBEo"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="container">
    <div id="nav" class="row">
      <div id="nav-title"><h1 id="nav-title-header">Scastrap</h1></div>
      <div id="nav-menu">
        <div class="nav-option"><h3>Home</h3></div>
        <div class="nav-option"><h3>About</h3></div>
        <div class="nav-option"><h3>How To Use</h3></div>
      </div>
    </div>

<%= yield %>
  </div>
</body>
</html>
