<!DOCTYPE html>
<html>
<head>
  <title>ScfApp</title>
    <!-- <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--jquery ui stylesheet -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- load jquery -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- load jquery ui, used for autocomplete textbox -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- load knockout, used for managing streets data -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <!-- load google maps api with library visualization-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEs6NPvRS1jrPZTWGZUkdkFmIbdCPrBEo&libraries=visualization"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- load google recaptcha API -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <!-- use markerwithlabel.js to create marker labels with multiple characters -->
  <!-- <script src='/assets/markerwithlabel.js'></script> -->

  <!-- load code for combobox-->
  <script src="/assets/combobox.js"></script>
  <!-- custom map interface for generating
  heatmap and cluster map from data-->
  <script src="/assets/clusters_overlay.js"></script>
  <script src="/assets/issues_overlay.js"></script>
  <script src="/assets/map.js"></script>

  <!-- include code for knockout and jquery based ui -->
  <script src="/assets/ui.js"></script>
  <!-- include export functions -->
  <script src="/assets/export.js"></script>
  <!-- include feedback functionality -->
  <script src="/assets/feedback.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="container">

<%= yield %>
  </div>
</body>
</html>
